.home-wrapper{
    min-width: 100vw;
    margin-top: 125px;
    padding: 0 4.5%;
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    /* grid-template-rows: minmax(min-content, 400px); */
    grid-gap: 2rem;
}

.center {
    justify-content: center;
    display: flex;
    align-items: center;
}

.format-footer {
    margin-top: 4em;

}

.format-footer1 {
    margin-top: 1em;
    margin-bottom: 2em;
}


@media (max-width: 1900px) {
    .home-wrapper {
        grid-template-columns: repeat(5, 1fr);
     }
 }
@media (max-width: 1635px) {
    .home-wrapper {
        grid-template-columns: repeat(4, 1fr);
    }
}
@media (max-width: 1150px) {
    .home-wrapper {
        grid-template-columns: repeat(3, 1fr);
    }
}
@media (max-width: 950px) {
    .home-wrapper {
        grid-template-columns: repeat(2, 1fr);
    }
}
@media (max-width: 550px) {
    .home-wrapper {
        grid-template-columns: repeat(1, 1fr);
    }
}
