.single-spot-body-left {
    flex: 1;
    width: 65%;
}

.single-spot-body {
    display: flex;
    border-bottom: 1px solid rgba(118 118 118/0.2);
}



.single-spot-host{
    padding: 2rem 0;
    border-bottom: 1.5px solid rgba(118 118 118/0.2);
    line-height: 1.8rem;
}

.single-spot-host2 {
    font-size: 1.3rem;
    margin-top: 1rem;
    font-weight: bold;
}

.information{
    display: flex;
}

.wrapper-information {
    display: flex;
    flex-direction: column;
    padding: 2rem 0;
    gap: 1.5rem;
    border-bottom: 1px solid rgba(118 118 118/0.2);
}

.information-r1{
    font-weight: 500;
}

.information-r2{
    color: #717171;
    font-size: 0.7rem;
}

.information-col1{
    padding-left: 1rem;
}

.single-spot-title{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.edit-listing{
    color: black;
    font-weight: 620;
}

.single-spot-title2{
    font-weight: bold;
    margin-bottom: 1rem;
    max-width: 88%;
    font-size: 32px;

}

.single-spot-title3{
    margin-bottom: 1rem;
}

.aircover{
    display: flex;
    flex-direction: column;
    width: fit-content;
    padding: 2rem 0;
    font-weight: 300;
    row-gap: 1.4rem;
    border-bottom: 1px solid rgba(118 118 118/0.2);
}

.wrapper-desc{
    padding: 2rem 0;
    font-size: 1rem;
    font-weight: 200;
    line-height: 1.5rem;
}

.single-spot-wrapper-image {
    display: flex;
    min-width: 100%;
    border-radius: 11px;
    overflow: hidden;
    max-height: 50vh;
    gap: 0.36rem;
}

.single-spot-prev-img{
    min-width: 50%;
    min-height: 100%;
    display: flex;
}

.single-spot-wrapper {
    box-sizing: border-box;
    margin-top: 111px;
    max-width: 75%;
}

/* .fix-sides {
    left: 50%;
    justify-content: center;
    width: 75%;
    display: flex;
    justify-self: flex-start;
} */

.single-spot-prev {
    flex-grow: 1;
    min-width: 100%;
    min-height: 100%;
}

.single-spot-misc-imgs {
    display: flex;
    flex-wrap: wrap;
    min-width: 50%;
    min-height: 50%;
    gap: 0.35rem;
}
.single-spot-other-img-2 {
    box-sizing: border-box;
    width: 49%;
    height: 49%;
    flex-grow: 1;
 }

 .wrapper-fee{
    font-size: 1rem;
    font-weight: 300;
    display: flex;
    justify-content: space-between;
    text-decoration: underline;
}

.single-spot-body-r {
    display: flex;
    justify-content: right;
    min-width: 35%;
    padding-bottom: 2rem;
    margin-top: 4rem;
    font-size: 1.5rem;
}

.wrapper-book{
    display: flex;
    flex-direction: column;
    max-height: 350px;
    min-width: 275px;
    border-radius: 15px;
    box-shadow: 0px 0px 10px rgba(118 118 118/0.2);
    row-gap: 1rem;
    padding: 1rem;
    position: sticky;
    top: 120px;
    border: 2px solid rgb(224, 224, 224);
    overflow: hidden;
}

.review-price {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.booking-reviews {
    font-size: 0.9rem;
}

.serviceFee{
    padding-bottom: 1rem;
}

.title-tot {
    margin-bottom: 1rem;
}

@media (max-width: 1250px) {
    .single-spot-wrapper{
        max-width: 1000px;
    }
 }

 @media (max-width: 1024px) {
    .single-spot-wrapper{
        max-width: 900px;
    }
 }

  @media (max-width: 980px) {
    .single-spot-wrapper {
        max-width: 850px;
    }
}

@media (max-width: 810px) {
    .single-spot-wrapper {
        max-width: 690px;
    }
}

@media(max-width: 670px){
    .single-spot-wrapper{
        max-width: 550px;
    }
}

@media(max-width: 560px){
    .single-spot-wrapper{
        max-width: 480px;
    }
}
