.text-rev:focus {
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(102, 174, 233, 0.609);
    border-color: red;
    outline: 0;
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075), 0 0 8px rgba(102, 174, 233, 0.609);
};

.text-rev-title {
    font-weight: 800;
    margin-bottom: 1.2em;
    margin-top: 1em;
};

.button-rev {
    width: 80%;
    border: none;
    background-color: red;
    border-radius: 20px;
    height: 30px;
    cursor: pointer;
    color: white;
    font-weight: 600;
    margin-bottom: 1em;
};

.inp-star {
    cursor: pointer;
    display: none;
};

.text-rating {
    margin-bottom: 0.55rem;
    font-weight: 600;
    margin-top: 0;
};

.form-r {
    text-align: center;
};

.text-rev {
    resize: none;
    border-radius: 10px;
    border: 1px solid lightgray;
    width: 80%;
    height: 150px;
    padding: 12px;
    margin-bottom: 0.5em;
};

.rev-form-wrapper-3 {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: fixed;
    top: 120px;
    right: 50%;
    transform: translateX(50%);
    width: 400px;
    height: 550px;
    padding-top: 30px;
    padding-right: 30px;
    padding-left: 30px;
    border: 1px solid rgb(160, 155, 155);
    border-radius: 15px;
    background-color: white;
};

.rev-form-wrapper-3 > h4 {
    margin-bottom: 30px;
};

.error-review-form {
    color: red;
    height: 1rem;
    font-size: 13px;
    padding-top: 4em;
};
