.spot-wrapper-revs {
    padding: 1.5rem 0;
}

.rev-add-new {
    cursor: pointer;
    border: none;
    font-size: 1.1rem;
    font-weight: 300;
    background-color: white;
    text-decoration: underline;
}

.row-rev1 {
    align-items: center;
    display: flex;
}

.wrapper-revs {
    display: flex;
    flex-wrap: wrap;
    margin-top: 1.4rem;
    width: 100%;
}

.wrapper-rev {
    width: 50%;
    margin-bottom: 2rem;
}

.review-date {
    color: #717171db;
}

.rever {
    display: flex;
}

.row-rev2 {
    margin-top: 1rem;
    font-weight: 300;
}

.date-name-rev {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-left: 0.5rem;
}

.rever-name {
    font-weight: bold;
}


.rev-title {
    font-size: 1.5rem;
    font-weight: 700;
}
