.signup-form-wrapper{
    display: flex;
    flex-direction: column;
    align-items: center;
    position: fixed;
    top: 120px;
    right: 50%;
    transform: translateX(50%);
    width: 400px;
    height: 700px;
    padding-top: 30px;
    padding-right: 30px;
    padding-left: 30px;
    border: 1px solid rgb(160, 155, 155);
    border-radius: 15px;
    background-color: white;
};

.input3 {
    margin-top: 3.5em;
    margin-bottom: auto;;
};

.input2 {
    width: 100%;
    height: 35px;
    border-radius: 10px;
    margin-bottom: 10px;
    border: 1px solid gray;
    text-indent: 10px;
};

.signup-submit {
    height: 40px;
    width: 100%;
    margin-top: 10px;
    font-size: 14px;
    border: none;
    cursor: pointer;
    border-radius: 10px;
    height: 30px;
    color: white;
    background-color: red;
};
